<tr>
  <td>{{category.id}}</td>
  <td>{{category.name}}</td>
  <td>{{category.hidden}}</td>
  <td>
    <button class="uk-button uk-button-primary" hx-get="/categories/{{category.id}}/edit" hx-target="closest tr"
      hx-swap="outerHTML" hx-trigger="edit" _="on click
                     if .editing is not empty
                       Swal.fire({title: 'Already Editing',
                                  showCancelButton: true,
                                  confirmButtonText: 'Yep, Edit This Row!',
                                  text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                       if the result's isConfirmed is false
                         halt
                       end
                       send cancel to .editing
                     end
                     trigger edit">
      Edit
    </button>
    <button class="uk-button uk-button-danger" type="button" hx-confirm="Are you sure?"
      hx-delete="/categories/{{category.id}}" hx-target="closest tr" hx-swap="outerHTML">Delete</button>
  </td>
</tr>