{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <div style="padding-left: 10px;" hx-ext='json-enc'>
        <form hx-post="/categories/new" hx-swap="afterbegin" hx-target="#categories-table" id="createForm">
          <div class="mb-3">
            <label for="category-text">Name:</label>
            <input type="text" class="uk-input uk-width-small" id="category-text" name="name" disabled>
          </div>
          <div class="mb-3">
            <label for="category-hidden">Hidden:</label>
            <input class="uk-checkbox" type="checkbox" id="category-hidden" name="hidden" disabled>
          </div>
          <div>
            <button class="uk-button uk-button-default" type="submit" disabled>Create</button>
          </div>
        </form>
      </div>
      <hr>
      <div class="uk-width-1-2">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th class="uk-table-shrink">#</th>
              <th class="uk-table-expand">Name</th>
              <th class="uk-table-shrink">Hidden</th>
              <th class="uk-table-expand"><button class="uk-button uk-button-default" hx-post="/categories/order"
                  hx-ext='json-enc' hx-include="[name='row_id']" hx-target="body">Save</button>
                <button class="uk-button uk-button-danger" hx-get="/categories" hx-target="body">Cancel</button>
              </th>
            </tr>
          </thead>
          <tbody class="sortable">
            {% for category in categories.as_slice() -%}
            <tr>
              <td><input type='hidden' name='row_id' value='{{category.id}}' />{{category.id}}</td>
              <td>{{category.name}}</td>
              <td>{{category.hidden}}</td>
              <td>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

{% endblock content %}