{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <form hx-encoding='multipart/form-data' hx-post="/questions/new" hx-swap="afterbegin"
          hx-target="#categories-table" id="createForm">
          <div class="mb-3">
            <label for="question-text">Question:</label>
            <input type="text" class="form-control" id="question-question" name="question" disabled>
          </div>
          <div class="mb-3">
            <label for="question-text">Answer:</label>
            <input type="text" class="form-control" id="question-answer" name="answer" disabled>
          </div>
          <div class="mb-3">
            <label for="question-hidden">Hidden:</label>
            <input type="checkbox" id="question-hidden" name="hidden" disabled>
          </div>
          <div class="mb-3">
            <label for="question-attachmets">Attachment:</label>
            <input type="file" id="question-attachmets" name="attachment" disabled>
          </div>
          <div class="modal-footer">
            <button type="submit">Create</button>
          </div>
        </form>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">hidden</th>
            <th scope="col"><button hx-post="/categories/order" hx-ext='json-enc' hx-include="[name='row_id']"
                hx-target="body">Save</button>
              <button hx-get="/categories" hx-target="body">Cancel</button>
            </th>
          </tr>
        </thead>
        <tbody class="sortable">
          {% for question in questions.as_slice() -%}
          <tr>
            <td><input type='hidden' name='row_id' value='{{question.id}}' />{{question.id}}</td>
            <td>{{question.question}}</td>
            <td>{{question.hidden}}</td>
            <td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  htmx.onLoad(function (content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
        animation: 150,
        ghostClass: 'blue-background-class'
      });
    }
  })
</script>

{% endblock content %}