<div id="questions-body">
    <div>
        <label>Category filter</label>
        <select class="uk-select uk-width-small" id="category-select-filter" name="category" hx-get="/questions/table"
            hx-target="#questions-body">
            <option>All</option>
            {% for category in categories.as_slice() -%}
            <option value="{{ category.id }}" {% if category.id==selected %}selected{% endif %}>{{category.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <table class="uk-table uk-table-middle uk-table-divider" id="questions-table">
        <thead>
            <tr>
                <th class="uk-table-shrink">Id</th>
                <th class="uk-table-expand">Category</th>
                <th class="uk-table-expand">Question</th>
                <th class="uk-table-expand">Answer</th>
                <th class="uk-table-shrink">Hidden</th>
                <th class="uk-table-shrink">Attachment</th>
                <th class="uk-table-expand"><button class="uk-button uk-button-default" id="ordering-button"
                        hx-get="/questions/order" hx-target="body" hx-include="#category-select-filter"
                        hx-swap="outerHTML">Reorder</button>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions.as_slice() -%}
            {{ question }}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    htmx.on('#category-select-filter', 'htmx:configRequest', category_remover);
    htmx.on('#ordering-button', 'htmx:configRequest', category_remover);
</script>