<tr>
  <td>{{question.id}}</td>
  <td>
    {% match question.category %}
    {% when Some with (category) %}
    {{category}}
    {% when None %}
    {% endmatch %}
  <td>{{question.question}}</td>
  <td>{{question.answer}}</td>
  <td>{{question.hidden}}</td>
  <td>
    {% if question.attachments.len() > 0 %}
    <button type="button" hx-get="/questions/download/{{question.attachments[0]}}">Download</button>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-danger" hx-get="/questions/{{question.id}}/edit" hx-target="closest tr" hx-swap="outerHTML"
      hx-trigger="edit" _="on click
                     if .editing is not empty
                       Swal.fire({title: 'Already Editing',
                                  showCancelButton: true,
                                  confirmButtonText: 'Yep, Edit This Row!',
                                  text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                       if the result's isConfirmed is false
                         halt
                       end
                       send cancel to .editing
                     end
                     trigger edit">
      Edit
    </button>
    <button type="button" hx-confirm="Are you sure?" hx-delete="/questions/{{question.id}}" hx-target="closest tr"
      hx-swap="outerHTML">Delete</button>
  </td>
</tr>