<tr hx-trigger='cancel' class='editing' hx-ext='json-enc'>
    <td>{{question.id}}</td>
    <td>
        <select class="uk-select" name="category">
            <option>None</option>
            {% for category in categories.as_slice() -%}
            <option value="{{ category.id }}" {% match question.category %} {% when Some with (q_category) %} {% if
                category.id==q_category.id %}selected{% endif %} {% when None %} {% endmatch %}>
                {{category.name}}</option>
            {% endfor %}
        </select>
    </td>
    <td><input class="uk-input" name="question" value="{{+question.question+}}"></td>
    <td><input class="uk-input" name="answer" value="{{+question.answer+}}"'></td>
    <td><input class="uk-checkbox" type="checkbox" id="question-hidden" name="hidden" {% if question.hidden %}checked{%
            endif %}></td>

    <td><button class="uk-button uk-button-primary" disabled>Attachments</button></td>

    <td>
        <button id="question-update" class="uk-button uk-button-primary" hx-put="/questions/{{question.id}}"
            hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">
            Save
        </button>
        <button class="uk-button uk-button-danger" hx-get="/questions/{{question.id}}" hx-include=""
            hx-target="closest tr" hx-swap="outerHTML">
            Cancel
        </button>
    </td>
</tr>
<script>
    htmx.on(' #question-update', 'htmx:configRequest', (evt) => {
        if (evt.detail.parameters['category'] === 'None') {
            delete evt.detail.parameters['category']
        }
    });
</script>