{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div style="padding-left: 10px;">
        <button disabled class="uk-button uk-button-default uk-margin-small-right" type="button">Create new</button>
      </div>
      <hr>
      <div id="mega-div">
        <label>Category filter</label>
        <select class="uk-select uk-width-small" disabled id="category-select-filter" name="category">
          <option>All</option>
          {% for category in categories.as_slice() -%}
          <option value="{{ category.id }}" {% if category.id==selected %}selected{% endif %}>{{category.name}}
          </option>
          {% endfor %}
        </select>
        <table class="uk-table uk-table-middle uk-table-divider">
          <thead>
            <tr>
              <th class="uk-table-shrink">Id</th>
              <th class="uk-table-expand">Category</th>
              <th class="uk-table-expand">Question</th>
              <th class="uk-table-expand">Answer</th>
              <th class="uk-table-shrink">Hidden</th>
              <th class="uk-table-shrink">Attachment</th>
              <th class="uk-table-expand"><button class="uk-button uk-button-primary" id="order-save"
                  hx-post="/questions/order" hx-ext='json-enc' hx-include="#mega-div" hx-target="body">Save</button>
                <button class="uk-button uk-button-danger" hx-get="/questions" hx-include="#category-select-filter"
                  hx-target="body">Cancel</button>
              </th>
            </tr>
          </thead>
          <tbody class="sortable">
            {% for question in questions.as_slice() -%}
            <tr>
              <td><input type='hidden' name='row_id' value='{{question.id}}' />{{question.id}}</td>
              <td>
                {% match question.category %}
                {% when Some with (category) %}
                {{category}}
                {% when None %}
                {% endmatch %} </td>
              <td>{{question.question}}</td>
              <td>{{question.answer}}</td>
              <td>{{question.hidden}}</td>
              <td><button disabled class="uk-button uk-button-default">Attachments</button></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  htmx.on('#order-save', 'htmx:configRequest', category_remover);
</script>
{% endblock content %}