{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <form id="question-create" hx-encoding='multipart/form-data' hx-post="/questions" hx-swap="afterbegin" hx-target="#questions-table">
          <div>
            <label>Category:</label>
            <select name="category">
              <option>None</option>
              {% for category in categories.as_slice() -%}
              <option value="{{ category.id }}">{{category.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="question-text">Question:</label>
            <input type="text" class="form-control" id="question-question" name="question">
          </div>
          <div class="mb-3">
            <label for="question-text">Answer:</label>
            <input type="text" class="form-control" id="question-answer" name="answer">
          </div>
          <div class="mb-3">
            <label for="question-hidden">Hidden:</label>
            <input type="checkbox" id="question-hidden" name="hidden">
          </div>
          <div class="mb-3">
            <label for="question-attachmets">Attachment:</label>
            <input type="file" id="question-attachmets" name="attachment">
          </div>
          <div class="modal-footer">
            <button type="submit">Create</button>
          </div>
        </form>
      </div>
      <div>
        <label>Category</label>
        <select id="category-select" name="category" hx-get="/questions/table" hx-target="#questions-table">
          <option>All</option>
          {% for category in categories.as_slice() -%}
          <option value="{{ category.id }}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
      {{ table }}
    </div>
  </div>
</div>

<script>
  let category_remover = function (evt) {
    let category = evt.detail.parameters['category']
    if (category === 'All') {
      evt.detail.useUrlParams = false;
    } else if (category === 'None') {
      delete evt.detail.parameters['category']
    }
  }
  htmx.on('#category-select', 'htmx:configRequest', category_remover);
  htmx.on('#question-create', 'htmx:configRequest', category_remover);

  htmx.onLoad(function (content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
        animation: 150,
        ghostClass: 'blue-background-class'
      });
    }
  })
</script>

{% endblock content %}