{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div hx-ext='json-enc'>
        <form hx-post="/categories/new" hx-swap="afterbegin" hx-target="#categories-table" id="createForm">
          <div class="mb-3">
            <label for="category-text">Name:</label>
            <input type="text" class="form-control" id="category-text" name="name">
          </div>
          <div class="mb-3">
            <label for="category-hidden">Hidden:</label>
            <input type="checkbox" id="category-hidden" name="hidden">
          </div>
          <div class="modal-footer">
            <button type="submit">Create</button>
          </div>
        </form>
      </div>
      <hr>
      <table id="categories-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">hidden</th>
            <th scope="col"><button hx-get="/categories/order" hx-target="body" hx-swap="outerHTML">Reorder</button>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories.as_slice() -%}
          {{ category }}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}