{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <div style="padding-left: 10px;" hx-ext='json-enc'>
        <form hx-post="/categories/new" hx-swap="afterbegin" hx-target="#categories-table" id="createForm">
          <div class="mb-3">
            <label for="category-text">Name:</label>
            <input type="text" class="uk-input uk-width-small" id="category-text" name="name">
          </div>
          <div class="mb-3">
            <label for="category-hidden">Hidden:</label>
            <input class="uk-checkbox" type="checkbox" id="category-hidden" name="hidden">
          </div>
          <div>
            <button class="uk-button uk-button-default" type="submit">Create</button>
          </div>
        </form>
      </div>
      <hr>
      <div class="uk-width-1-2">
        <table class="uk-table uk-table-divider" id="categories-table">
          <thead>
            <tr>
              <th class="uk-table-shrink">#</th>
              <th class="uk-table-expand">name</th>
              <th class="uk-table-shrink">hidden</th>
              <th class="uk-table-expand"><button class="uk-button uk-button-default" hx-get="/categories/order"
                  hx-target="body" hx-swap="outerHTML">Reorder</button>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories.as_slice() -%}
            {{ category }}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
{% endblock content %}